h1 {
    font-size: 40px;
    font-family: 'Libre Barcode 39 Text', cursive;

}

h3{
    font-size:40px;
    font-family: 'Libre Barcode 39 Text', cursive;
    position: relative;
    top: -300px;
}

text{
    font-size:40px;
    font-family: 'Libre Barcode 39 Text', cursive;
    position: relative;
    top: -300px;
}

clock{
    font-size: 150px;
    text-align: center;
    vertical-align: top;
    position: relative;
    font-family: 'Libre Barcode 39 Text', cursive;
    line-height: 0.1px;
    margin: 0;
    padding: 0;
}

text{
    font-size: 40px;
    font-family: 'Libre Barcode 39 Text', cursive;
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;

}
